/*-------General-----*/
*{
	font-family: "montserrat"
}
section
{
	padding-bottom: 20px;
	text-align: center;
}
section .heading
{
	margin-bottom: 15px;
}
.blue-divider
{
	width: 100px;
	height: 2px;
	background: #1976bc;
	margin: 0 auto 20px auto;
}

section .heading h1
{
	font-family: "montserrat";
	font-weight:900;
	font-size:55px;
	letter-spacing: -3px;
}
p
{
	font-family: "Montserrat"
}

/*--------Menu---------*/

.navbar
{
	background-color: #fff !important;
	height: 70px;
	box-shadow: 0 0 15px 0 rgba(24,24,24,.15);
}

navbar-header h1
{
	float: left;
	margin-top: 25px;
}

.navbar-header
{
	margin:0 auto;
	height: 70px;
}
.navbar .navbar-nav
{
	
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
}
.navbar li a
{
	color: #777 !important;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	font-family: "Montserrat"
}

.navbar-nav li a:hover
{
	color: #1976bc !important;
}

.navbar-default .navbar-toggle
{
	border-style: none;
	margin-top: 4.5%;
}

.navbar-default .navbar-toggle:hover
{
	background-color: #fff !important;
	color: #1976bc !important;
}

.navbar .navbar-collapse
{
	background-color: #fff;
	text-align: center;
	
}
.icon-bar
{
	background-color:#1976bc !important;
}
.navbar-brand 
{
	padding-top:10px;
}

.navbar-default .navbar-nav>.active>a
{
	color: #1976bc !important;
	background-color: #fff !important;
}

/*--------main-image---------*/

.search-dest
{
	padding: 40px;
	background: #fff;
	box-shadow: 0 0 15px 0 rgba(24,24,24,.15);
	position: relative;
	margin-top: -5.75em;
	border-bottom: 2px solid #1976bd;
	z-index: 99;
}

#main-image.container-fluid
{
	padding-left: 0px;
	padding-right: 0px;
}

#main-image form input
{
	border-radius:0px;
	padding: 25px;
	width: 100%;
	box-shadow: 0 0 15px 0 rgba(24,24,24,.15);
}
#main-image form .icon > span
	{
	transition: 300ms ease color;
    display: block;
    z-index: 1;
    width: 3.5em;
    height: 5.2rem;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 5rem;
    text-align: center;
    cursor: pointer;
    right: 15px;
    border-left:1px solid #ddd;
}
#main-image form .icon > span:hover
{
	color: #1976bc;
}
.button-1
{
	background-color: #1976bc;
	border:none;
	padding: 16px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-style: 15px;
	font-family: "Montserrat"
}
/*--------Destinations---------*/
.box
{
	display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.box a>img, 
.box>img 
{
    display: block;
    max-width: 100%;
    height: 400px;
}

.box a>img, .box>img {
    margin-right: auto;
    margin-left: auto;
}

#destinations a .title > h3
{
	transition: 300ms ease color;
    display: block;
    z-index: 1;
    width: 89%;
    /*height: 88%;*/
    position: absolute;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    bottom: 0px;
    top:40%;
    left: auto;
    right: auto;
}
#destinations a h3
{
	font-family: "montserrat";
	font-weight:900;
	font-size: 40px;
	letter-spacing: -2px;
	color: white;
	text-shadow: 0 2px 5px rgba(24,24,24,.75)
}

#destinations p
{
	font-family: "montserrat";
	font-size: 15px;
	letter-spacing: -1px;
	font-weight: bold;
}

@media only screen and (max-width: 992px) {
	#destinations a h3{
		font-size: 25px;
	}
}

@media only screen and (max-width: 1216px) {
	#destinations a h3{
		font-size: 25px;
	}
}

/*--------Offres---------*/
#offres p
{
	font-family: "montserrat";
	font-size: 15px;
	letter-spacing: -1px;
	font-weight: bold;
}
.card-offres
{
	
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-box-shadow: 0 0 15px rgba(24,24,24,.15);
    box-shadow: 0 0 15px rgba(24,24,24,.15);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    height: 360px;


    
}


.card-offres .card-offres-img
{

	overflow: hidden;
	height: 200px;
	filter: grayscale(90%);
	-webkit-filter:grayscale(90%);
	background-repeat: no-repeat;
	background-size: cover;
}
.card-offres .card-offres-img:hover
{
	filter: none;
	-webkit-filter:none;
}
.card-offres h4
{
	font-family: "montserrat";
	font-weight:900;
	text-align:left;
	margin: 10px 20px;
}
.card-offres .info .info-p
{
	font-family: "montserrat";
	text-align:left;
	margin: 8px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.prix{
	background-color: #1976bc !important;
	color: #fff;
	margin: 8px auto;
	text-align: center;
	padding: 3px;
	font-weight: bold;
	font-size: 15px;
}

@media only screen and (max-width: 768px) 
{
	.card-offres{
		margin: 10px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.card-offres .rating{
		display: none;
	}
	.card-offres h4{
		font-size: 13px;
	}
	.card-offres .prix{
		margin-right: 3px;
		font-size: 10px !important;
		font-weight: normal;
		letter-spacing: 0.5px !important;
	}
	.card-offres .info p
	{
		font-weight: normal !important;
		font-size: 12px !important;
		letter-spacing: 0.5px !important;


.rating
{
	margin: auto 0px;
	text-align: left;	
}
.rating .star-rating
{
	margin-left: 10px;
}
.rating .glyphicon
{
	color: #1976bc;
}
/*---------------Contact-----------------*/

#contact
{
	padding: 60px 0;
	text-align: center;
	background-color: #eee;

}

#contact form
{
	margin: 60px 0 20px 0;
}
#contact label
{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color: #777;
}
#contact input[type="text"]
{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}
.button-3
{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: #02b8dd;
	border-style: none;
	border-radius: 3px;
}
.button-3:hover
{
	background-color: #444;
	cursor: pointer;
}

/*-----------footer------------*/
footer
{
	height: 260px;
	background-color: #444;


}
footer h1
{
	color: #fff;
	text-align: center;
	padding-top:20px;
	font-family: "montserrat black"
}
.copyright
{
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
	color: #fff;
}
footer .glyphicon{
	font-size: 32px;
	margin-top:10px;
}


footer .glyphicon:hover
{
	font-size: 35px;	
}
